@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<div class="login-form pt-4">
    <form id="signin" class="form" method="post">
        <h2 class="text-center"><b>SignIn</b></h2>
        <div class="form-group">
            <input asp-for="Input.Email" placeholder="Email..." class="form-control first" required autofocus />
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" placeholder="Password..." class="form-control last" required/>
        </div>
        <div class="form-group">
            <button id="loginbtn" type="submit" class="btn btn-lg btn-dark btn-block">SignIn</button>
        </div>
        <div class="text-center">
            <a id="forgot-password" style="text-decoration:none;" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
        @*<div class="text-center">
            <a id="register" style="text-decoration:none;" asp-page="./Register">Don't have an account?</a>
        </div>*@
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
